

:root {
    --background-color : #262626;
    --color-primary: #595959;
    --color-secondary : #8C8C8C;
    --color-teritary: #f4f4f4;
    --color-action: #fff;
    --color-link: #8cb4ff;
    --color-error: rgb(255, 81, 81);
  
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    /* background: var(--background-color); */
    font-family: "IBM Plex Mono", sans-serif;
  }

  main {
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, 0);
    width: 800px;
  }
  .blog-image-wrapper {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8c8c8c5d;
  }
  .blog-image-wrapper img {
    height: 300px;
  }
  .description {
    padding: 30px;
  }
  .title {
    font-size: 25px;
    font-weight: bold;
    font-family: "IBM Plex Mono", sans-serif;
    
  }
  .article {
    margin-top: 30px;
    font-family: "IBM Plex Mono", sans-serif;
    font-size:17px;
  }
  .home-btn {
    position: fixed;
    right: 50px;
    top:30px;
    padding: 10px 20px 10px 20px;
    border:1px solid #8C8C8C;
    cursor: pointer;
    border-radius: 10px;
  }
  .home-btn:hover {
    background-color: #595959;
  }